.playing-card {
    width: 50px;
    height: 75px;
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
}

.playing-card-unknown {
    background-color: gray;
}

.diamonds, .hearths {
    color: red;
}

.clubs, .spades {
    color: black;
}
